*{
    margin: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav_width{
    /* border: 1px solid; */
    width: 81%;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}
#nav_width img{
    height: 50px;
}
#navbarSupportedContent{
    /* border: 2px solid red; */
    width: 10%;
}
#margin_nav{
    /* border: 2px solid; */
    width: 100%;
    display: flex;
    justify-content: end;
    font-weight: 400;
}
#margin_nav .nav-item{
    width: 120px;
    font-size: 20px;
    /* border: 2px solid; */
}


.carousel{
    margin-top: 100px;
    z-index: 0;
}

.slide_text{
    width: 90%;
    text-align: left;
    padding-right: 40%;
}
.slide_text h1{
    font-size: 50px;
}
.slide_text button{
    /* margin-top: 50px; */
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.slide_text button:hover{
    background: none;
    border: 2px solid black;
    color: black;
}
@media screen and (max-width: 992px) {
    .slide_text h1{
        font-size: 20px;
    }
    .slide_text p{
        display: none;
    }
    .slide_text{
        width: 130%;
        margin-left: 100px;
    }
}

.icon{
    width: 100%;
    /* border: 2px solid; */
    display: flex;
}
.icon_butt{
    width: 30%;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_butt button{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(248,248,248);
    margin-left: -15px;
}
.icon:hover .icon_butt button{
    height: 70px;
    width: 70px;
    transition: 2s;
}
.icon_butt button img{
    margin-left: 15px;
    height: 40px;
}

.icon_text{
    padding-left: 20px;
    text-align: left;
}

.img_left{
    height: 550px;
    width: 80%;
    /* border: 2px solid; */
    overflow: hidden;
    border-radius: 10px;
}
.img_left img{
    height: 110%;
    width: 130%;
    margin-top: -10px;
    margin-left: -10px;
}
.img_left:hover img{
    margin-left: -50px;
    transition: 2s;
    opacity: 50%;
}
.left_text{
    margin-top: -520px;
    text-align: left;
    padding-left: 50px;
}
.left_text h1{
    font-size: 33px;
}
.left_text span{
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

#img_flex_end{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 2px solid; */
}
#img_flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 2px solid; */
}
.img_right{
    height: 260px;
    width: 80%;
    /* border: 2px solid; */
    overflow: hidden;
    border-radius: 10px;
}
.img_right img{
    height: 110%;
    width: 130%;
    margin-top: -10px;
    margin-left: -10px;
}
.img_right:hover img{
    margin-left: -50px;
    transition: 2s;
    opacity: 50%;
}

.flex_text_start{
    margin-top: -150px;
    text-align: left;
    padding-left: 50px;
}
.flex_text_start h1{
    font-size: 33px;
}
.flex_text_start span{
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}


.flex_text_end{
    margin-top: -150px;
    text-align: right;
    padding-right: 50px;
}
.flex_text_end h1{
    font-size: 33px;
}
.flex_text_end span{
    font-weight: bold;
    letter-spacing: 5px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}
@media screen and (max-width: 768px) {
    #img_flex_end{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid; */
    }
    #img_flex{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        /* border: 2px solid; */
    }
    .img_left{
        width: 120%;
    }
    .img_right{
        width: 120%;
        margin: 20px;
    }
}


#bg_color{
    background-color: rgb(248,248,248);
}

.con_text{
    width: 40%;
}
.sale{
    height: 570px;
    width: 100%;
    /* border: 2px solid; */
}
.sale_img{
    height: 80%;
    width: 80%;
    /* border: 2px solid; */
    overflow: hidden;
    display: flex;
    border-radius: 10px;
    position: relative;
    background-color: white;
}
.sale_img img{
    height: 100%;
    width: 100%;
    background: none;
}
#disp_block{
    transform: rotateY(-90deg);
    visibility: hidden;
}
.sale:hover .sale_img #disp_none{
    transform: rotateY(-90deg);
    transition: 2s;
    visibility: hidden;
}
.sale:hover .sale_img #disp_block{
    transform: rotateY(-180deg);
    transition: 3s;
    transition-delay: 2s;
    visibility: visible;
    position: absolute;
}



.sale_text{
    background-color: rgb(248,248,248);
    height: 20%;
    width: 80%;
    /* border: 2px solid; */
    text-align: left;
}
.sale_text p{
    font-weight: bold;
    font-size: 22px;
}
.sale_text i{
    margin-top: 20px;
}


#bg_img{
    background-image: url('photos/hover-img-03.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#bg_col{
    height: 500px;
    /* border: 2px solid; */
    background-image: url('photos/marquee.png');
    /* background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5), url('photos/marquee.png')); */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    text-align: left;
    padding-left: 250px;
}
.bg_col_text button{
    /* margin-top: 50px; */
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
}
.bg_col_text button:hover{
    background: none;
    border: 2px solid black;
    color: black;
}


#animation_col{
    height: 500px;
    /* border: 2px solid; */
    display: flex;
}
.big_img{
    height: 100%;
    width: 45%;
    margin-top: -80px;
    overflow: hidden;
    border-radius: 10px;
    animation: anim_1 3s linear infinite;
    position: relative;
    top: 0px;
}
@keyframes anim_1{
    50%{
        top: 15px;
    }
}
.big_img img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.small_img{
    height: 100%;
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 30px;
    animation: anim_2 3s linear infinite;
    position: relative;
    top: 0px;
}
@keyframes anim_2{
    50%{
        top: -15px;
    }
}
.small_img img{
    height: 80%;
    width: 100%;
    border-radius: 10px;
}


#hover_img{
    /* border: 2px solid; */
    height: 300px;
    width: 302px;
    overflow: hidden;
}
#hover_img img{
    height: 100%;
    width: 120%;
    margin-left: -15px;
}
.insta_hover{
    visibility: hidden;
}
.insta_icon{
    font-size: 22px;
}

#hover_img:hover .insta_hover{
    height: 80%;
    width: 90%;
    margin-top: -270px;
    padding: 20px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    color: white;
    /* border: 2px solid; */
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: 2s;
    visibility: visible;
}
@media screen and (max-width: 992px) {
    #flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hover_img{
        width: 50%;
    }
}
@media screen and (max-width: 768px) {
    #flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #hover_img{
        width: 80%;
    }
}


#footer_bg{
    padding-top: 70px;
    padding-bottom: 70px;
}
#footer_col1{
    height: 350px;
    text-align: left;
    /* border: 2px solid; */
}
#footer_col1 .circle{
    height: 100px;
}
#footer_col1 h1,
#footer_col2 h1,
#footer_col3 h1{
    font-family: Amatic SC;
    font-weight: bolder;
}
#footer_col1 img{
    border-radius: 10px;
}

#footer_col2{
    height: 350px;
    text-align: left;
    /* border: 2px solid; */
}
.contact_text{
    display: flex;
    font-size: 20px;
    /* border: 2px solid; */
}
.contact_text p{
    width: 92%;
    font-size: 15px;
    /* border: 2px solid; */
    margin-left: 10px;
}
#footer_col2 button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 20px;
    background: none;
}
#footer_col2 button:hover{
    background-color: rgb(115,139,105);
    border: none;
    color: white ;
}


#footer_col3{
    height: 350px;
    text-align: left;
    /* border: 2px solid; */
}
.footer_form{
    height: 53px;
    width: 100%;
    border-radius: 30px;
    background-color: white;
    border: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_form input{
    height: 50px;
    border-radius: 30px;
    border: none;  
}
.footer_form button{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;  
    background-color: black;
    color: white;
}
.footer_img{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.footer_img img{
    height: 45px;
    border-radius: 10px;
}